/* *{
    background-color: rgb(244, 244, 226);
} */
body {
    background-color: rgb(244, 239, 226);
}

header {
   display: flex;
   justify-content: space-between;
   align-items:center ;
   height: 75px;
   width: 100%;
   background-color: #5c6e63;
}


h1 {
    font-size: 35px;
    margin: 10px;
    width: 250px;
    /* height: 50px; */
    text-align: center;
    align-self: center;
    color: #5c6e63;
    background-color: #b2cc9b;
}
nav {
    background-color: #5c6e63;
}

nav ul li {
    display: inline;
    justify-content: flex-end;
    justify-content: space-between;
    padding: 10px;
    font-size: 25px;
    text-decoration:none;
    color: #a3b899;
    font-family: 'Times New Roman', Times, serif;

}

.banner {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 200px;
    background-image: url(./Images/pexels-anni-roenkae-2860804.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%;
}

.banner div {
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    text-align: center;
}

.slogan {
    background-color:#b2cc9b;
    color:#5c6e63 ;
    font-size: 28px;
    width: 300px;
    position: absolute;
    margin: 18px 10px;
    padding: 0 10px;
    text-align: center;
}

.sec-one {
    flex-direction: row;
}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

main section {
    display: flex;
}

.header {
    color: #a3b899;
    font-size: 40px;
    width: 200px;
    padding: 3%;
    border-right: #a3b899 solid;
    flex-shrink: 0;
}

main div1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main p {
    color:#a3b899;
    font-size: 18px;
    padding-left:3%;
    padding-top: 2%;
    padding-right: 4%;
}

.column {
    display: flex;

}

/* .aside-work {
    display: flex;
    width: 1000px;
        /* justify-content: center; */
 
/* .header2 {
    margin-right: 15%;
} */
 
.sec-two {
    display: flex;
}

/* add hover cursors */
.gallery {
    height: 418px;
    width: 627px;
    border: #5c6e63 solid;
    background-image: url(./Images/pexels-eberhard-grossgasteiger-844297.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 12%; 
}

